@model Set

<h2>The card drawn is: </h2>
<br />

@foreach (Cards c in @Model.cards)
{
    <div style="border: 1px solid black">
        <h3>url for image: @c.image</h3>
        <h3>Value: @c.value</h3>
        <h3>Suit: @c.suit</h3>
    </div>
    <br />
}
<br/>
<p>Shuffle deck?</p>
<form action="/Home/Shuffle" method="post">
    <input value="@Model.deck_id" type="hidden" name="id" />
    <button type="Submit">Shuffle</button>
</form>
<br />
<form action="/Home/DrawCard" method="post">
    <input type="number" name="amount" />
    <input value="@Model.deck_id" type="hidden" name="id" />
    <button type="Submit">Draw Again</button>
</form>
<br />
<form action="/Home/NewDeck" method="post">
    <button type="Submit">New Deck</button>
</form>

